html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

.button-container {
    border: 2px solid black;
    padding: 20px;
}

.container-fluid {
  height: 100%;
}

.recipe-container {
  padding: 10px;
  height: calc(100vh - 155px); /* Subtract the height of the top bar (adjust as needed) */
  overflow-y: auto; /* Adds scrolling when content exceeds the fixed height */
  box-sizing: border-box; /* Ensures padding and borders are included in the height */
}

.left-column {
  border: 2px solid black; /* Visual border */
}

.recipe-button {
  padding-top: 10px;
}

.text-start {
  font-size: 1.5rem;
  font-weight: bold;
  color: #007bff;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.text-start::before {
  content: "🍏"; /* Add an apple emoji to represent the calorie counter logo */
  margin-right: 8px;
  font-size: 1.8rem; /* Adjust the size of the emoji */
}