html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

.button-container {
    border: 2px solid black;
    padding: 20px;
}

.container-fluid {
  height: 100%;
}

.recipe-container {
  padding: 20px;
  max-height: 400px; /* Fix height of the container */
  height: 400px; /* Ensure the container doesn't exceed this height */
  overflow-y: auto; /* Adds scrolling when content exceeds the fixed height */
  border: 2px solid black; /* Visual border */
  box-sizing: border-box; /* Ensures padding and borders are included in the height */
}