html {
    scrollbar-gutter: stable;
}  

.scrollable-container {
    height: 400px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.recipe-card {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.recipe-card h4 {
    margin: 0 0 8px 0;
}

.recipe-card p {
    margin: 0;
}

.delete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: #dc3545;
    font-size: 20px;
    cursor: pointer;
}

.edit-btn {
    background-color: transparent;
    border: none;
    color: #ffc107;
    font-size: 20px;
    cursor: pointer;
}

.card-container {
    position: relative;
}

.text-start {
    font-size: 1.5rem;
    font-weight: bold;
    color: #007bff;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }
  
  .text-start::before {
    content: "🍏";
    margin-right: 8px;
    font-size: 1.8rem;
  }